.banner {
  padding: 10px;
  background-color: #2F3FB0;
  color: white;
}

.banner-text {
  padding: 8px 20px;
  margin: 0;
}


#join-form {
  margin-top: 10px;
}

.tips {
  font-size: 12px;
  margin-bottom: 2px;
  color: gray;
}

.join-info-text {
  margin-bottom: 2px;
}

input {
  width: 100%;
  margin-bottom: 2px;
}

.player {
  width: 480px;
  height: 320px;
}

.player-name {
  margin: 8px 0;
}

@media (max-width: 640px) {
  .player {
    width: 320px;
    height: 240px;
  }
}
.player{
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 70px;
 
}
.player{
  border-style: solid;
  border-color: green; 
  border-bottom: transparent;
  background-color: black;
  opacity: .9;
}
.player>.micclass{
  background-color: white;
  color: #fff;
  opacity: 1;
  height: 70px;
  position: absolute;
  top: 100%;
  width: 100%;
  bottom: 0;
  align-items: center;
  border-style: solid;
  border-color: green; 
  border-top: transparent;
}
.btn-live {
  background-color: #2F3FB0;
  color: white;
  border: 1px solid #2F3FB0;
}

.btn-live:hover {
  color: #2F3FB0;
  background-color: white;
  border: 1px solid #2F3FB0;
}
@media (max-width: 640px) {
  .remote-playerlist {
    width: 320px;
    height: 240px;
  }
}
