.banner {
  padding: 10px;
  background-color: #2F3FB0;
  color: white;
}

.banner-text {
  padding: 8px 20px;
  margin: 0;
}


#join-form {
  margin-top: 10px;
}

.tips {
  font-size: 12px;
  margin-bottom: 2px;
  color: gray;
}

.join-info-text {
  margin-bottom: 2px;
}

input {
  width: 100%;
  margin-bottom: 2px;
}

.player {
  width: 100%;
  height: 320px;
}

.player-name {
  margin: 8px 0;
}

@media (max-width: 100%) {
  .player {
    width: 100%;
    height: 240px;
  }
}
.remote-playerlist {
  width: 50%;
  height: 320px;
}



@media (max-width: 50%) {
  .remote-playerlist {
    width: 50%;
    height: 240px;
  }
}

.btn-live {
  background-color: #2F3FB0;
  color: white;
  border: 1px solid #2F3FB0;
}

.btn-live:hover {
  color: #2F3FB0;
  background-color: white;
  border: 1px solid #2F3FB0;
}

[draggable=true] {
  cursor: move;
}

.remote-playerlist {
  overflow: scroll;
  resize: both;
  max-width: 300px;
  max-height: 460px;
  border: 1px solid black;
  min-width: 50px;
  min-height: 50px;
  background-color: skyblue;
}

#sample {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
  width:300px;
}

#remote-playerlist {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}
